# Server
PORT=4000
BASE_URL=/api
API_VERSION=v1
NODE_ENV=development

# App
SALT_ROUNDS=10

# Database
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Email (Gmail over OAuth2)
USER_EMAIL=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
